<!DOCTYPE html>
<html>
<head>
	<title><%= $html_title %></title>
	<link href="css/main.css" rel="stylesheet"></link>
</head>
<body>
<%= erb :_header %>
<%= yield %>
<%= erb :_footer %>
</body>
</html>