<h1>Team Here</h1>

<p>This will contain some info about the team that built this website.  Possibly fictional.</p>


Technologies this website uses:

<ul>
	<li><b>Ruby</b> - A classy Gem</li>
	<li><b>Sinatra</b> - A top-notch singer</li>
	<li><b>Active Record</b></li>
</ul>