header nav ul {
	list-style: none;
}
header h1,
header nav,
header nav ul,
header nav ul li {
	display:inline-block;
}
header nav ul li {
	padding-left:.5em;
	padding-right:.5em;
}
.gold {
	border:8px groove gold;
}
body::after {
  content: "";
	background: url('/img/room01.jpg') no-repeat;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size:130%;
  position: absolute;
  z-index: -1;   
}